input {
  margin: 0 auto;
  display: block;
  width: 820px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #d9d9d9;
}

.Dictionary {
  margin: 0 auto;
  display: block;
  width: 1200px;
  background-color: white;
  border-radius: 20px;
  padding: 60px 0;
}

.greeting {
  text-align: center;
  color: #898989;
}
