h3 {
  padding: 10px 15px 0 100px;
  font-size: 18px;
  font-weight: 400;
}

p {
  padding: 0 130px;
}

p em {
  padding-left: 30px;
  color: #d9d9d9;
}

.text-container {
  display: flex;
  align-items: center;
}

.dashed-line {
  flex-grow: 1;
  border-top: 1px solid #d9d9d9;
  position: relative;
  top: 0px;
  max-width: 800px;
}

.def-meaning {
  padding-left: 110px;
  font-size: 18px;
  font-weight: 400;
}
