h3 {
  padding: 20px 15px 0 180px;
  font-size: 18px;
  font-weight: 400;
}

p {
  padding-left: 200px;
}

p em {
  padding-left: 10px;
  color: #d9d9d9;
}

.text-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.dashed-line {
  flex-grow: 1;
  border-top: 1px solid #d9d9d9;
  position: relative;
  top: 13px;
  max-width: 800px;
}

.def-meaning {
  padding-left: 190px;
  font-size: 18px;
  font-weight: 400;
}
