.photos img {
  border-radius: 6px;
  margin-bottom: 20px;
}

.text-container {
  max-width: 960px;
}

.row {
  padding: 0 100px;
}

h5 {
  padding: 10px 15px 0 90px;
  font-size: 18px;
  font-weight: 400;
}
